
RewriteEngine on

RewriteRule ^index/([0-9]+)$ /index.php?id=$1 [L]

RewriteRule ^user/([0-9]+)$ /user.php?id=$1 [L]

RewriteRule ^revel/([0-9]+)$ /revel.php?id=$1 [L]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
