IndexIgnore *
Options All -Indexes


RewriteEngine on

RewriteRule ^index$ index.php?add=$1 [L]
RewriteRule ^add/(.+)$ index.php?add=$1 [L]
RewriteRule ^subtract/(.+)$ index.php?subtract=$1 [L]
RewriteRule ^remove/(.+)$ index.php?remove=$1 [L]
RewriteRule ^login/signup/(.+)$ login.php?signup=$1 [L]
RewriteRule ^login$ login.php?add=$1 [L]
RewriteRule ^logout$ logout.php?add=$1 [L]
RewriteRule ^sales$ sales.php?add=$1 [L]
RewriteRule ^signup$ signup.php?add=$1 [L]
RewriteRule ^user$ user.php?add=$1 [L]


# Eliminar .php de las URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
