html {
  height: 100%;
  margin-left: 8%;
  margin-right: 8%;
}

body {
  font-size: 1.2rem;
  min-height: 100%;
}

.tittle-login {
  grid-area: Tittle-login;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #41554d;
  border-radius: 5px;
}

.tittle-delete{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: 'Healing Lighters', sans-serif;
  font-size: 50px;
  vertical-align: middle;
  color: #fff;
}

img {
  vertical-align: middle;
}


.navbar-list{
  text-decoration: none;
  margin-right: 20px;
}

.navbar-sesion{
  text-decoration: none;
}

.body-login{ 
  background-image:'img/backgroundimage.jpg';
  display: grid;
  gap: 5px;
  margin-top: 1%;
  grid-template:
    "Tittle-login" 100px
    "Sign-in" auto
    "Sign-up" 100px
    "footer"  50px;
}


.body-login > *{
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}


.body-revels {
  display: grid;
  gap: 10px;
  grid-template:
    "navbar  navbar" 100px
    "sidebar-accounts main"   700px
    "sidebar-account main"   100px
    "footer  footer" 50px /200px    auto;
      grid-template-columns: 25% 75%;
}

.body-revels > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.buttons-main-revel>*{
  display: inline-block;
}

.buttons-main-revel{
  text-align: center;
}

.buttons-main-revel>p{
  margin-left: 5px;
  margin-right: 40px;
  text-decoration: none;
  color: inherit;
}

.body-account {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar2  navbar2" 100px
      "sidebaruserfollow2 main"   200px
      "sidebaruserfriend2 main"   500px
      "sidebar-account2 main"   100px
      "footer2  footer2" 50px /200px    auto;

      grid-template-columns: 25% 75%;
}

.body-account > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.body-delete {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar2  navbar2" 100px
      "sidebaruserfollow2 main"   200px
      "sidebaruserfriend2 main"   500px
      "sidebar-account2 main"   100px
      "footer2  footer2" 50px /200px    auto;

      grid-template-columns: 25% 75%;
}

.body-delete > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.body-list {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar2  navbar2" 100px
      "sidebaruserfollow2 main"   200px
      "sidebaruserfriend2 main"   500px
      "sidebar-account2 main"   100px
      "footer2  footer2" 50px /200px    auto;

      grid-template-columns: 25% 75%;
}

.body-list > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.body-result {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar  navbar" 100px
      "sidebarResult main"   700px
      "sidebar-account main"   100px
      "footer  footer" 50px /200px    auto;

      grid-template-columns: 25% 75%;
}

.body-result > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.hour-main-revel{
  color: gray;
  font-size: 15px;
}

.buttons-main-comment{
  text-align: center;
}

.buttons-main-comment>p{
  margin-left: 5px;
  margin-right: 40px;
  text-decoration: none;
  color: inherit;
}

.hour-main-comment{
  color: gray;
  font-size: 15px;
}

.comment-container {
  display: inline-flex;
}

.newrevel-container {
  display: block;
}

.title-main-account{
  display: flex;
  align-items: center;
}

.title-main-account>a{
  margin-left: 90%;
}

.title_user_follow{
  display: flex;
  align-items: center;
}

.title_user_follow>a{
  margin-left: 10%;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  margin: 5px;
  transition: background-color 0.3s;
}

.title_user_follow>#seguir_user{
  background-color: gray;
  color: #f4f8fa;
}

.title_user_follow>#seguir_user:hover{
  background-color: rgb(153, 151, 151);
}

.sidebar-suggestions>#seguir_user{
  margin-left: 10%;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  margin: 5px;
  transition: background-color 0.3s;
}

.sidebar-suggestions>#seguir_user{
  background-color: gray;
  color: #f4f8fa;
}

.sidebar-suggestions>#seguir_user:hover{
  background-color: rgb(153, 151, 151);
}

.coment_form>#comment{
  background-color: gray;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    color: #f4f8fa;
    cursor: pointer;
    margin-left: 40px;
}

.revel_form>#newrevels{
  background-color: gray;
  padding: 10px 15px;
  border: 0;
  border-radius: 10px;
  color: #f4f8fa;
  cursor: pointer;
  margin-left: 40px;
}

.revel_form>#input-newrevel{
  WIDTH: 600px; 
  HEIGHT: auto;
  font-size: 20px;
  border: 0;
  background-color: #f4f8fa;
}

.coment_form>#comment{
  background-color: gray;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    color: #f4f8fa;
    cursor: pointer;
    margin-left: 40px;
}

.coment_form>#input-coment{
  WIDTH: 600px; 
  HEIGHT: auto;
  font-size: 20px;
  border: 0;
  background-color: #f4f8fa;
}

.coment_form>#comment:hover{
  background-color: #9b9c9e;
}

.navbar {
  grid-area: navbar;
  background-color: #41554d;
  color:#e1dbdd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar2 {
  grid-area: navbar2;
  background-color: #b09ab1;
  color:#e1dbdd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #e1e0dd;
}

.main {
  grid-area: main;
  background-color: #f4f8fa;
  max-height: 850px;
  overflow: scroll;
}

.main>*{
  margin-left: 15%;
  margin-right: 15%;
}

.main2 {
  grid-area: main;
  background-color: #e1e0d6;
  max-height: 850px;
  overflow: scroll;
}

.main2>*{
  margin-left: 15%;
  margin-right: 15%;
}
.footer {
  grid-area: footer;
  background-color: #41554d;
}

.footer2 {
  grid-area: footer2;
  background-color: #b09ab1;
}

.error_login{
  color: red;
  font-size: 75%;
}

.error_coment{
  color: red;
  font-size: 75%;
}

.sidebar2 {
  grid-area: sidebar2;
  background-color: #e1e0dd;
}

.sidebar-accounts{
  grid-area: sidebar-account;
  background-color: #bebfb4;
}

.sidebar-accounts2{
  grid-area: sidebar-account2;
  background-color: #8caab6;
}

.sidebar-user {
  grid-area: sidebarUser;
  background-color: #bebfb4;
}
.sidebar-user2 {
  grid-area: sidebarUser2;
  background-color: #e1e0dd;
}


.sidebar-userfollow2{
  grid-area: sidebaruserfollow2;
  background-color: #8caab6;
}

.sidebar-result{
  grid-area: sidebarResult;
  background-color: #e1e0dd;
}

.sidebar-list2 {
  grid-area: sidebarlist2;
  background-color: #e1e0dd;
}

.sidebar-userfriend2{
  grid-area: sidebaruserfriend2;
  background-color: #b1c2ba;
}

.sidebar-suggestions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sidebar-user2>.sidebar-friend>#enlace_userRevel:hover{
  background-color: #98a3ae;
}

.body-user {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar  navbar" 100px
      "sidebarUser main"   200px
      "sidebarUser2 main"   500px
      "sidebar-account main"   100px
      "footer  footer" 50px /200px    auto;

      grid-template-columns: 25% 75%;
}

.body-user > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.buttons-main-user>*{
  display: inline-block;
}

.buttons-main-user>p{
  margin-left: 5px;
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
}

#title_sidebarindex{
  font-size: 30px;
}

#enlace_userRevel{
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

#seguir_user{
  display: block;
  text-decoration: none;
  color: blue;
  margin-left: auto;
}


.revels {
  grid-area: revels;
}

.follower {
  grid-area: follower;
}
.follows {
  grid-area: follows;
}

.followers {
  display: grid;
  gap: 10px;
  grid-template:
      "revels follower follows" 50px;
}

.nav_form{
  position: relative;
}

.nav_form>.input-nav{
  width: 350px;
  padding: 10px;
  padding-right: 35px;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
}

.nav_form>.button-nav{
  background-color:#1d271b;
  padding: 10px 15px;
  position: absolute;
  border: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
}

.nav_form>.button-nav:hover{
  background-color: #7099c1;
}

.body-index2 {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar  navbar" 100px
      "sidebar main"   700px
      "sidebar-account main"  100px
      "footer  footer" 50px /200px    auto;
      grid-template-columns: 25% 75%;
}

.body-index2 > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.text_nologin{
  font-size: 60px;
  text-align: center;
}

.account_div {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.account_div:hover .account-content {
  display: block;
}

.account-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
  bottom: 100%;
}

.account-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.account-content a:hover {
  background-color: #bdb6b6;
}

#user_account_text{
  font-size: 30px;
}

#user_account_text>i{
  font-size: 20px;
  margin-right: 10px;
}

#like-button{
  color: #41554d;
}

#dislike-button{
  color: #41554d;
}

#comment-button{
  color: #41554d;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.loginup{
  background: #e1e0dd;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.container2{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.box{
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  box-shadow: 0 0 150px 0 rgba(0,0,0,0.2),
            0 40px 80px -50px rgba(0,0,0,0.7);         
}
.form-box{
  width: 450px;
  margin: 0px 10px;
}
.form-box header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.form-box form .field{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;

}
.form-box form .input input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.btn{
  height: 35px;
  background: #41554d;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s;
  margin-top: 10px;
  padding: 0px 10px;
  text-decoration: none;
}

.btn:hover{
  opacity: 0.82;
}

.btn2{
  height: 35px;
  background: #5c5582;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s;
  margin-top: 10px;
  padding: 0px 10px;
  text-decoration: none;
}

.btn2:hover{
  opacity: 0.82;
}

#btn2{
  height: 55px;
  background: #5c5582;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s;
  margin-top: 10px;
  padding: 0px 10px;
  text-decoration: none;
}

#btn2:hover{
  opacity: 0.82;
}

#btn3{
  height: 55px;
  background: #b34e52;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s;
  margin-top: 10px;
  padding: 0px 10px;
  text-decoration: none;
}

#btn3:hover{
  opacity: 0.82;
}

.btn-session{
  height: 25px;
  background: #41554d;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s;
  margin-top: 10px;
  padding: 0px 10px;
  text-decoration: none;
}

.btn-session:hover{
  opacity: 0.82;
}

.sign-inup{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#delete-button-yes:hover{
  opacity: 0.82;
}

#delete-button-yes{
  background-color: rgb(58, 143, 62);
  color: #f4f8fa;
  margin-left: 10%;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  margin: 5px;
  transition: background-color 0.3s;
}

#delete-button-no:hover{
  opacity: 0.82;
}

#delete-button-no{
  background-color: rgb(204, 77, 77);
  color: #f4f8fa;
  margin-left: 10%;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  margin: 5px;
  transition: background-color 0.3s;
}

.delete-buttons{
  margin-left: 15%;
}

#delete-list{ 
  color: #5c5582;
}
