html {
  height: 100%;
  margin-left: 8%;
  margin-right: 8%;
}

body {
  font-size: 1.2rem;
  min-height: 100%;
}

.tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b2634;
}

h1 {
  font-family: 'Healing Lighters', sans-serif;
  font-size: 50px;
  vertical-align: middle;
  color: #fff;
}

img {
  vertical-align: middle;
}

.body-index {
  display: grid;
  gap: 10px;
  margin-top: 1%;
  grid-template:
    "Sign-up" auto
    "Sign-in" 100px
    "footer"  50px;
}

.body-index > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}

.Sign-in{
  grid-area: Sign-in;
  background-color: #f5f5f5;
}

.Sign-up{
  grid-area: Sign-up;
  background-color: #f5f5f5;
}

.body-login{ 
  display: grid;
  gap: 10px;
  margin-top: 1%;
  grid-template:
    "Sign-in" auto
    "Sign-up" 100px
    "footer"  50px;
}

.body-login > *{
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}


.body-revels {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar  navbar" 100px
      "sidebar main"   auto
      "footer  footer" 50px /
      200px    auto;
      grid-template-columns: 25% 75%;
}

.body-revels > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.buttons-main-revel>*{
  display: inline-block;
}

.buttons-main-revel{
  text-align: center;
}

.buttons-main-revel>p{
  margin-left: 5px;
  margin-right: 40px;
  text-decoration: none;
  color: inherit;
}

.hour-main-revel{
  color: gray;
  font-size: 15px;
}

.buttons-main-comment{
  text-align: center;
}

.buttons-main-comment>p{
  margin-left: 5px;
  margin-right: 40px;
  text-decoration: none;
  color: inherit;
}

.hour-main-comment{
  color: gray;
  font-size: 15px;
}

.comment-container {
  display: inline-flex;
}

.coment_form>#comment{
  background-color: #1faffc;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    color: #f5f5f5;
    cursor: pointer;
    margin-left: 40px;
}

.coment_form>#input-coment{
  WIDTH: 600px; 
  HEIGHT: auto;
  font-size: 20px;
  border: 0;
  background-color: #f5f5f5;
}

.coment_form>#comment:hover{
  background-color: #7099c1;
}

.navbar {
  grid-area: navbar;
  background-color: #1b2634;
  color:#e1dbdd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #fdcfcf;
}

.main {
  grid-area: main;
  background-color: #f5f5f5;
  max-height: 800px;
  overflow: scroll;
}

.main>*{
  margin-left: 15%;
  margin-right: 15%;
}

.footer {
  grid-area: footer;
  background-color: #8c96a0;
}

.error_login{
  color: red;
  font-size: 75%;
}

.sidebar2 {
  grid-area: sidebar2;
  background-color: #f19494;
}

.sidebar-user {
  grid-area: sidebarUser;
  background-color: #fdcfcf;
}
.sidebar-user2 {
  grid-area: sidebarUser2;
  background-color: #cffdd3;
}
.sidebar-user2>.sidebar-friend>#enlace_userRevel:hover{
  background-color: #98a3ae;
}
.body-user {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar  navbar" 100px
      "sidebarUser main"   20%
      "sidebarUser2 main"   60%
      "footer  footer" 50px /200px    auto;

      grid-template-columns: 25% 75%;
}

.body-user > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.buttons-main-user>*{
  display: inline-block;
}

.buttons-main-user>p{
  margin-left: 5px;
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
}

#enlace_userRevel{
  display: block;
  text-decoration: none;
  color: inherit;
}

.revels {
  grid-area: revels;
}

.follower {
  grid-area: follower;
}
.follows {
  grid-area: follows;
}

.followers {
  display: grid;
  gap: 10px;
  grid-template:
      "revels follower follows" 50px;
}

.nav_form{
  position: relative;
}

.nav_form>.input-nav{
  width: 350px;
  padding: 10px;
  padding-right: 35px;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
}

.nav_form>.button-nav{
  background-color:#9fddff;
  padding: 10px 15px;
  position: absolute;
  border: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
}

.nav_form>.button-nav:hover{
  background-color: #7099c1;
}

.body-index2 {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar  navbar" 100px
      "sidebar main"   auto
      "footer  footer" 50px /
      200px    auto;
      grid-template-columns: 25% 75%;
}

.body-index2 > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

  /* 
  .color1 {color: #74808b;}
  .color2 {color: #838d99;}
  .color3 {color: #a1abaf;}
  .color4 {color: #c4c8c8;}
  .color5 {color: #e1dbdd;}
  
  .color1 {color: #000000;}
  .color2 {color: #1b2634;}
  .color3 {color: #435b76;}
  .color4 {color: #7099c1;}
  .color5 {color: #9fddff;}
  */






