html {
  height: 100%;
  margin-left: 8%;
  margin-right: 8%;
}

body {
  font-size: 1.2rem;
  min-height: 100%;
}

.tittle-login {
  grid-area: Tittle-login;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #41554d;
}

h1 {
  font-family: 'Healing Lighters', sans-serif;
  font-size: 50px;
  vertical-align: middle;
  color: #fff;
}

img {
  vertical-align: middle;
}

.body-index {
  display: grid;
  gap: 10px;
  margin-top: 1%;
  grid-template:
    "Tittle-login" 100px
    "Sign-up" auto
    "Sign-in" 100px
    "footer"  50px;
}

.body-index > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}

.Sign-in{
  grid-area: Sign-in;
  background-color: #f4f8fa;
}

.Sign-up{
  grid-area: Sign-up;
  background-color: #f4f8fa;
}

.body-login{ 
  background-image:'img/backgroundimage.jpg';
  display: grid;
  gap: 5px;
  margin-top: 1%;
  grid-template:
    "Tittle-login" 100px
    "Sign-in" auto
    "Sign-up" 100px
    "footer"  50px;
}


.body-login > *{
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
}


.body-revels {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar2  navbar2" 100px
      "sidebar main"   700px
      "sidebar-account main"   100px
      "footer  footer" 50px /200px    auto;
      grid-template-columns: 25% 75%;
}

.body-revels > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.buttons-main-revel>*{
  display: inline-block;
}

.buttons-main-revel{
  text-align: center;
}

.buttons-main-revel>p{
  margin-left: 5px;
  margin-right: 40px;
  text-decoration: none;
  color: inherit;
}

.body-account {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar2  navbar2" 100px
      "sidebarAccount main"   200px
      "sidebarAccount2 main"   500px
      "footer  footer" 50px /200px    auto;

      grid-template-columns: 25% 75%;
}

.body-account > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.body-result {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar  navbar" 100px
      "sidebarResult main"   700px
      "sidebar-account main"   100px
      "footer  footer" 50px /200px    auto;

      grid-template-columns: 25% 75%;
}

.body-result > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.hour-main-revel{
  color: gray;
  font-size: 15px;
}

.buttons-main-comment{
  text-align: center;
}

.buttons-main-comment>p{
  margin-left: 5px;
  margin-right: 40px;
  text-decoration: none;
  color: inherit;
}

.hour-main-comment{
  color: gray;
  font-size: 15px;
}

.comment-container {
  display: inline-flex;
}

.newrevel-container {
  display: block;
}

.title-main-account{
  display: flex;
  align-items: center;
}

.title-main-account>a{
  margin-left: 90%;
}

.title_user_follow{
  display: flex;
  align-items: center;
}

.title_user_follow>a{
  margin-left: 10%;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  margin: 5px;
  transition: background-color 0.3s;
}

.title_user_follow>#seguir_user{
  background-color: gray;
  color: #f4f8fa;
}

.title_user_follow>#seguir_user:hover{
  background-color: rgb(153, 151, 151);
}

.sidebar-suggestions>#seguir_user{
  margin-left: 10%;
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  margin: 5px;
  transition: background-color 0.3s;
}

.sidebar-suggestions>#seguir_user{
  background-color: gray;
  color: #f4f8fa;
}

.sidebar-suggestions>#seguir_user:hover{
  background-color: rgb(153, 151, 151);
}

.coment_form>#comment{
  background-color: gray;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    color: #f4f8fa;
    cursor: pointer;
    margin-left: 40px;
}

.revel_form>#newrevels{
  background-color: gray;
  padding: 10px 15px;
  border: 0;
  border-radius: 10px;
  color: #f4f8fa;
  cursor: pointer;
  margin-left: 40px;
}

.revel_form>#input-newrevel{
  WIDTH: 600px; 
  HEIGHT: auto;
  font-size: 20px;
  border: 0;
  background-color: #f4f8fa;
}

.coment_form>#comment{
  background-color: gray;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    color: #f4f8fa;
    cursor: pointer;
    margin-left: 40px;
}

.coment_form>#input-coment{
  WIDTH: 600px; 
  HEIGHT: auto;
  font-size: 20px;
  border: 0;
  background-color: #f4f8fa;
}

.coment_form>#comment:hover{
  background-color: #9b9c9e;
}

.navbar {
  grid-area: navbar;
  background-color: #41554d;
  color:#e1dbdd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar2 {
  grid-area: navbar2;
  background-color: #29b47d;
  color:#e1dbdd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #e1e0dd;
}

.main {
  grid-area: main;
  background-color: #f4f8fa;
  max-height: 800px;
  overflow: scroll;
}

.main>*{
  margin-left: 15%;
  margin-right: 15%;
}

.footer {
  grid-area: footer;
  background-color: #41554d;
}

.error_login{
  color: red;
  font-size: 75%;
}

.error_coment{
  color: red;
  font-size: 75%;
}

.sidebar2 {
  grid-area: sidebar2;
  background-color: #e1e0dd;
}

.sidebar-accounts{
  grid-area: sidebar-account;
  background-color: #bebfb4;
}

.sidebar-user {
  grid-area: sidebarUser;
  background-color: #bebfb4;
}
.sidebar-user2 {
  grid-area: sidebarUser2;
  background-color: #e1e0dd;
}

.sidebar-account{
  grid-area: sidebarAccount;
  background-color: #bebfb4;
}

.sidebar-result{
  grid-area: sidebarResult;
  background-color: #e1e0dd;
}

.sidebar-account2 {
  grid-area: sidebarAccount2;
  background-color: #e1e0dd;
}

.sidebar-suggestions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sidebar-user2>.sidebar-friend>#enlace_userRevel:hover{
  background-color: #98a3ae;
}

.body-user {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar  navbar" 100px
      "sidebarUser main"   200px
      "sidebarUser2 main"   500px
      "sidebar-account main"   100px
      "footer  footer" 50px /200px    auto;

      grid-template-columns: 25% 75%;
}

.body-user > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.buttons-main-user>*{
  display: inline-block;
}

.buttons-main-user>p{
  margin-left: 5px;
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
}

#title_sidebarindex{
  font-size: 30px;
}

#enlace_userRevel{
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

#seguir_user{
  display: block;
  text-decoration: none;
  color: blue;
  margin-left: auto;
}


.revels {
  grid-area: revels;
}

.follower {
  grid-area: follower;
}
.follows {
  grid-area: follows;
}

.followers {
  display: grid;
  gap: 10px;
  grid-template:
      "revels follower follows" 50px;
}

.nav_form{
  position: relative;
}

.nav_form>.input-nav{
  width: 350px;
  padding: 10px;
  padding-right: 35px;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
}

.nav_form>.button-nav{
  background-color:#1d271b;
  padding: 10px 15px;
  position: absolute;
  border: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
}

.nav_form>.button-nav:hover{
  background-color: #7099c1;
}

.body-index2 {
  display: grid;
  gap: 10px;
  grid-template:
      "navbar  navbar" 100px
      "sidebar main"   700px
      "sidebar-account main"  100px
      "footer  footer" 50px /200px    auto;
      grid-template-columns: 25% 75%;
}

.body-index2 > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.text_nologin{
  font-size: 60px;
  text-align: center;
}

.account_div {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.account_div:hover .account-content {
  display: block;
}

.account-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
  bottom: 100%;
}

.account-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.account-content a:hover {
  background-color: #bdb6b6;
}

#user_account_text{
  font-size: 30px;
}

#user_account_text>i{
  font-size: 20px;
  margin-right: 10px;
}

#like-button{
  color: #41554d;
}

#dislike-button{
  color: #41554d;
}

#comment-button{
  color: #41554d;
}


